.About{
    border: 1px solid red;
    padding: 1rem;
    &-title{
        color: red;
    }

    &-second{
        border: 1px solid blue;
        &-title{
            color: green;
        }
    }

}