@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
*{
  margin: 0px;
}
html{
  scroll-behavior: smooth;
}
:root {
  font-family: 'Rubik', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --accent-color: #6d28fa;
  --accent-light-color: #844cf7;
}
.errorpage-btn{
  padding: 5rem;
  color: red;
  font-weight: 400;
  font-size: 3rem;
  margin: 3rem;
}
