.Modal {
	&-container {
        border: 2px solid #000;
        background-color: whitesmoke;
        padding: 3rem;
        width: 65vw;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        & h1 {
            margin-bottom: 1rem;
        }
        & form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            width: 50%;

        }
	}

      &-switch {
        display: flex;
        align-items: center;
        gap: 1rem;

      }
      &-signup-text {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        padding: 0.5rem;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.1) 90%,
          blue 90%,
          blue 100%
        );
        letter-spacing: 1px;
        &:hover {
          cursor: pointer;
          background: linear-gradient(
            180deg,
            rgba(214, 147, 255, 0.1) 90%,
            var(--accent-color) 90%,
            var(--accent-color) 100%
          );
        }
      }
      &-login {
        &-input {
          backdrop-filter: blur(2px);
          background-color: rgba(255, 255, 255, 0.85);
          box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
            0 2px 6px 2px rgb(60 64 67 / 15%);
          border-radius: 5px;
        }
      }
      &-submitbtn{
        color: rgb(255, 238, 238) !important;
        background-color: var(--accent-color) !important;
      }

}
.swal2-container {
    z-index: 3000 !important;
  }